<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Voting System</title>
  </head>

  <body>
    <main>
      <div class="vote-form-img"></div>
      <div class="form-container">
        <img
          src="https://res.cloudinary.com/dlf8flk1o/image/upload/v1698782038/VotingSystem/logo_mh2raj.png"
          alt=""/>

        <h1>¡Votá a tu candidato favorito! 😏</h1>

        <form action="/" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Documento</label>
              <input type="text" name="document" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <% if (locals.errors && errors.document) { %>
                <div class="text-danger">
                  <i class="fa-solid fa-triangle-exclamation"></i> <%= errors.document.msg %>
                </div>
              <% } %>
            </div>
            <select class="form-select" aria-label="Default select example" name="candidateId">
              <option selected disabled>Seleccioná tu candidato favorito</option>
              <% candidates.forEach(function(candidate) { %>
                <option value="<%= candidate.id %>"><%= candidate.name %> <%= candidate.lastName %></option>
            <% }); %>
            </select>
            <button type="submit" class="btn btn-primary btn-custom">Enviar Voto</button>

          </form>

      </div>
    </main>

    <!-- jQuery, Popper.js, y Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
